<!-- ログインしていなければフォームを表示しない -->
<% if user_signed_in? %>

	<%= form_for [event, comment], url: event_comments_path(event.id), remote: true do |f| %>
	  <%= f.text_area :content, class: "col-8" %>
	  <br>
	  <%= f.submit 'コメントする', class: "text-right" %>
	<% end %>

<% else %>

	<p class="text-info">ログインするとコメントできるようになるよ</p>

<% end %>