<!-- 自分の投稿に対するいいね、コメントは通知に表示しない -->
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
	<%= render notifications %>
	<%= paginate notifications %>
<% else %>
	<p>通知はありません</p>
<% end %>
