<% if user_signed_in? && current_user.already_liked?(event) %>
  <%= link_to "/events/#{event.id}/likes", class: "btn btn-secondary", method: :delete, remote: true do %>
  		いいねを取り消す(アイコン入れたい)
  <% end %>
<% else %>
  <%= link_to "/events/#{event.id}/likes", class: "btn btn-outline-danger", method: :post, remote: true do %>
  	いいねする(アイコン入れたい)
  <% end %>
<% end %>
<div class="mt-2">
	いいね数: <%= @event.likes.count %><br>
	<% @event.liked_users.each do |user| %>
	  <%= link_to user.username, user %>さん
	<% end %>
</div>
