<%= month_calendar events: @user.joined_events do |date, events| %>
  <div class="text-left"><%= date.day %></div>
  <% events.each do |event| %>
    <div>
      <p class="small"><%= link_to event.title, event %><br><%= event.start_time.strftime("%H:%M") %>から</p>
    </div>
  <% end %>
<% end %>