<div id="read">
	<% if unchecked_notifications.any? %>

		<span id="button" style="cursor: pointer">
			<i class="fab fa-envira fa-lg text-success btn btn-sm btn-outline-success">おしらせ</i>
			<i class="fas fa-flag n-flag fa-lg"></i>
		</span>

	<% else %>

			<i id="button" class="fab fa-envira fa-lg text-success btn btn-sm btn-outline-success">おしらせ</i>

	<% end %>
</div>

<!-- お知らせボタンを押した時、既読になりアイコンが消える -->
<script>
$('#read').on('click', function(){
	var $readButton = $(this);
    $.ajax({
        url:'/notifications/read',
        type:'PATCH',
    })
	// Ajaxリクエストが成功した時発動
    .done( (data) => {
        $readButton.find('.fas.fa-flag').remove()
    })
})
</script>