<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>" class="btn-sm btn-info mr-1">
      <b><%= @user.following.count %></b>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>" class="btn-sm btn-info">
      <b><%= @user.followers.count %></b>
    フォロワー
  </a>
</div>