<h3 class="text-center mb-4">Volun-Tunerってどんなサイト？</h3>

<hr>


<h4 class="text-center mt-3">ボランティアを...</h4>


<div class="row justify-content-center">
	<div class="card col-md-12 col-lg-5 mb-3 mr-2">
		<div class="card-body text-center">
			<h5><span class="bg-info px-2 py-2 rounded text-white">参加</span></h5>

		<img src="<%= asset_path "bokin.jpg" %>" class="img-fluid shadow rounded img-thumbnail w-75 mt-3" alt="bokin">

		</div>
	</div>

	<div class="card col-md-12 col-lg-5 mb-3">
		<div class="card-body text-center">
			<h5><span class="bg-success px-2 py-2 rounded text-white">主催</span></h5>

			<img src="<%= asset_path "heart.jpg" %>" class="img-fluid shadow rounded img-thumbnail mt-3" style="width: 60%;" alt="ハート">
		</div>
	</div>
</div>

<h4 class="text-center">できる！</h4>

<hr>


<h5 class="text-center my-5"><span class="bg-danger px-2 py-1 rounded text-white">ポイント</span></h5>

<div class="row justify-content-center">

	<div class="card col-md-12 col-lg-4 mr-3 mb-5">
		<div class="card-body text-center">
			<h5><span class="bg-secondary text-white px-2 py-1">豊富な検索機能</span></h5>

			<p>
				新着順<br>
				フリーワード<br>
				現在地<br>
				カテゴリータグで<br>
				エリア<br>
				カレンダーから<br>
				ランキングから<br>
				フォロワーから<br>
			</p>

			<p class="text-right">探すことができるよ</p>
		</div>
	</div>


	<div class="card col-md-12 col-lg-6 mr-3 mb-5">
		<div class="card-body text-center">
			<h5><span class="bg-secondary text-white px-2 py-1">ボランティアを通して繋がりができる</span></h5>

			<p class="text-left ml-5 mt-4">ボランティアへの</p>

			いいね<br>
			コメント<br>
			他のユーザーのフォロー<br>
			などの機能で

			<p>ボランティアで繋がりが出来るよ</p>
		</div>
	</div>


	<div class="card col-md-12 col-lg-5 mr-3 mb-5">
		<div class="card-body text-center">
			<h5><span class="bg-secondary text-white px-2 py-1">ボタン一つで気軽に参加</span></h5>

			<p class="mt-4">会社帰りや学校帰り、ちょっとした隙間時間に...<br>空いた時間を有効活用して社会貢献しよう</p>
		</div>
	</div>


	<div class="card col-md-12 col-lg-5 mr-3 mb-5">
		<div class="card-body text-center">
			<h5><span class="bg-secondary text-white px-2 py-1">主催も簡単</span></h5>

			<p class="mt-4">
				必要な項目を入力すれば<br>
				簡単にボランティアが主催できます<br>
				みんなで参加できて役に立つボランティアを主催してみよう<br>
			</p>
		</div>
	</div>
</div>


<hr>


<div class="row justify-content-center my-5">
	<div class="card col-10">
		<div class="card-body text-center mt-3">
			<h5 class="mb-4"><span class="bg-info text-white px-3 py-2 rounded-pill">会員登録すると...</span></h5>


			ボランティアの参加<br>
			ボランティアの主催<br>
			いいね<br>
			コメント<br>
			他のユーザーのフォロー<br>

			<p class="text-right">などが出来るようになるよ！</p>

		</div>
	</div>
</div>

<hr>

<div class="text-center">
	<%= link_to "会員登録はこちらから", new_user_registration_path, class: "btn btn-lg btn-warning shadow rounded" %>
</div>

