<div class="top-image">
	<%= image_tag 'green.jpg', class: "mw-100 shadow rounded mx-auto d-block", alt: "top-image" %>
	<h1>Volun-Tuner</h1>
	<%= link_to "What's Volun-Tuner?", users_about_path, class: "btn btn-sm btn-info shadow rounded-pill mt-2" %>
</div>


